.main-window {
    max-width: 100dvw;
    max-height: 100dvh;
    min-height: 100dvh;
    min-width: 100dvw;
    position: relative;
    background-color: var(--background-color);
    transition: all 0.2s ease-in-out;

    &.dragging {
        background-color: rgba($color: #646cff, $alpha: 0.2);
    }

    .drag-window {
        max-height: 30dvh;
        max-width: 30dvw;
        min-height: 30dvh;
        min-width: 30dvw;
        border: 2px solid #888;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem #888;
        overflow: hidden;
        position: relative;
        // transition: all 0.2s ease-in-out;
        background-color: var(--background-color);

        &.dragging {
            border: 2px solid #646cff;
            box-shadow: 0 0 2rem #8389ff;
        }

        .drag-window-handle {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0rem 0.1rem;
            cursor: grab;
            transition: all 0.2s ease-in-out;
            border-radius: 0.5rem;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.1);
                color: #fff;
            }
        }

        .drag-div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            border: 2px dashed #888;
            border-radius: 0.5rem;
            box-shadow: 0 0 1rem #888;
            font-weight: bold;
            transition: all 0.2s ease-in-out;

            &:hover {
                border: 2px solid #646cff;
                box-shadow: 0 0 1rem #646cff;
            }

            &.dragging {
                border: 2px dashed #646cff;
                box-shadow: 0 0 5rem #8389ff;
            }
        }
    }
}
